{{ define "title" -}} log {{- end }}

{{/* <style> */}}{{ define "style" }}
main {
    box-sizing: border-box;
}
article {
    overflow: auto;
}

.pager {
    text-align: center;
    margin: .5rem 0;
}
.pager-link {
    display: inline-block;
    padding: .2em .5em;
    color: inherit;
    text-decoration: none;
}
.pager-link.disabled {
    color: rgba(var(--fg), .3);
}

.empty-log {
    display: block;
    text-align: center;
    font-size: 150%;
    color: rgba(var(--fg), .5);
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border-right: 1px solid rgba(var(--fg), .1);
}
th:last-child, td:last-child {
    border-right: none;
}
tbody td {
    padding: .5em;
    border-bottom: 1px solid rgba(var(--fg), .2);
}
tbody tr:last-child td {
    border-bottom: none;
}
input {
    max-width: 100%;
}

td.status span {
    display: block;
    text-align: center;
}
td.status span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
}
td.aborted span::after { background-color: rgb(var(--bg)) }
td.degrade span::after { background-color: rgb(var(--degrade)) }
td.failure span::after { background-color: rgb(var(--failure)) }
td.healthy span::after { background-color: rgb(var(--healthy)) }
td.unknown span::after { background-color: rgb(var(--fg)) }

.latency {
    text-align: right;
}

.target, .message {
    font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.extra-label {
    font-weight: bold;
}

.omit-indicator {
    text-align: center;
}

.download-buttons {
    text-align: center;
    margin-bottom: 2rem;
}
.download-buttons a {
    margin-left: .2rem;
}
{{ end }}{{/* </style> */}}

{{ define "pager" }}
        <div class="pager">
            {{- if gt .From 1 }}
            <a href="{{ printf "/log.html?%s&limit=%d&offset=%d" .RawQuery .Limit .Prev }}" class="pager-link" title="Previous page">&lt;</a>
            {{ else }}
            <a class="pager-link disabled" aria-label="There is not previous page.">&lt;</a>
            {{ end -}}
            <span aria-label="Showing record {{ .From }} to {{ .To }} out of {{ .Total }}.">{{ .From | uint2humanize }}-{{ .To | uint2humanize }} of {{ .Total | uint2humanize }}</span>
            {{- if lt .To .Total }}
            <a href="{{ printf "/log.html?%s&limit=%d&offset=%d" .RawQuery .Limit .Next }}" class="pager-link" title="Next page">&gt;</a>
            {{ else }}
            <a class="pager-link disabled" aria-label="There is no next page.">&gt;</a>
            {{ end }}
        </div>
{{ end }}

{{ define "body" }}
    <article style="text-align: center">
        <form>
            <div>
                <input id="since-date" type="date" value="{{ .Since.Format "2006-01-02" }}" aria-label="since date" /><input id="since-time" type="time" value="{{ .Since.Format "15:04" }}" aria-label="since time" />
                -
                <input id="until-date" type="date" value="{{ .Until.Format "2006-01-02" }}" aria-label="until date" /><input id="until-time" type="time" value="{{ .Until.Format "15:04" }}" aria-label="until time" />
                <input id="since" type="hidden" name="since" value="{{ .Since | time2str }}" />
                <input id="until" type="hidden" name="until" value="{{ .Until | time2str }}" />
            </div>
            <div>
                <input type="search" name="query" size="50" value="{{ .Query }}" placeholder="e.g. >=1s example.com" autofocus />
                <button type="submit">search</button>
            </div>
        </form>
    </article>
    <article>
        {{ if eq .Total 0 -}}
        <span class="empty-log">No Data</span>
        {{- else -}}
        {{ block "pager" . }}{{ end }}
        <table>
            <thead>
                <tr>
                    <th style="width: 25ex">time</th>
                    <th style="width: 7em">status</th>
                    <th style="width: 8ex">latency</th>
                    <th style="min-width: 10em">target</th>
                    <th>message</th>
                </tr>
            </thead>
            <tbody>{{ range .Records}}
                <tr>
                    <td>{{ block "timestamp" .Time }}{{ end }}</td>
                    <td class="status {{ .Status | to_lower }}"><span>{{ .Status }}</span></td>
                    <td class="latency">{{ .Latency | latency2str }}</td>
                    <td class="target">{{ .Target }}</td>
                    <td class="message">
                        {{- .Message -}}
                        {{- if .Extra -}}{{- "\n\n" -}}
                        <span class="extra">
                            {{- "{" }}{{ range (.Extra | extra2jsons) }}"<span class="extra-label">{{ .Key }}</span>": {{ .Value }}{{ if not .IsLast }}, {{ end }}{{ end }}{{ "}" -}}
                        </span>
                        {{- end -}}
                    </td>
                </tr>{{ end }}
            </tbody>
        </table>
        {{ block "pager" . }}{{ end }}
        <div class="download-buttons">
            download all log as
            <a href="{{ printf "/log.csv?%s" .RawQuery }}" type="text/csv" download="ayd-log.csv">CSV</a>
            <a href="{{ printf "/log.xlsx?%s" .RawQuery }}" type="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" download="ayd-log.xlsx">XLSX</a>
            <a href="{{ printf "/log.ltsv?%s" .RawQuery }}" type="text/plain" download="ayd-log.ltsv">LTSV</a>
            <a href="{{ printf "/log.json?%s" .RawQuery }}" type="application/json" download="ayd-log.json">JSON</a>
        </div>
        {{ end }}
    </article>

    <script>
const tzMinutes = -(new Date().getTimezoneOffset());
const tz = tzMinutes === 0 ? (
    'Z'
) : (
    (tzMinutes > 0 ? '+' : '') + `${Math.floor(tzMinutes/60)}`.padStart(2, '0') + ':' + `${tzMinutes%60}`.padStart(2, '0')
);

[[
    document.getElementById('since'),
    [document.getElementById('since-date'), document.getElementById('since-time')],
], [
    document.getElementById('until'),
    [document.getElementById('until-date'), document.getElementById('until-time')],
]].forEach(([output, [date, time]]) => {
    [date, time].forEach((elm) => elm.addEventListener('change', () => {
        if (!date.value) {
            output.value = '';
        } else if (!time.value) {
            output.value = date.value + 'T00:00:00' +  tz;
        } else {
            output.value = date.value + 'T' + time.value +':00' +  tz;
        }
    }));
});
    </script>
{{ end }}

{{ define "footer" }}{{ "" }}{{ end }}
