{{ define "title" -}} status {{- end }}

{{/* <style> */}}{{ define "style" }}
article.status {
    display: flex;
    flex-wrap: wrap;
}
section.status {
    flex: 0 1 calc(50% - 8px);
}
@media screen and (max-width: 60rem) {
    section.status {
        flex: 1 1 100%;
    }
}

.overview {
    position: relative;
    text-align: center;
    margin: 2rem 4px;
    font-size: 120%;
}
.overview ul {
    display: flex;
    padding: 0 0 .2rem;
    margin: 0;
}
.overview li {
    display: block;
    white-space: nowrap;
    padding: 0 .25rem;
    text-transform: 
}
.overview .percent {
    display: block;
    font-size: 150%;
}
.summary-plot {
    position: absolute;
    top: calc(33% + .3ex);
    left: 0;
    z-index: -1;
    height: 4px;
    width: 100%;
}
.summary-plot rect.no-data { fill: rgb(var(--bg)) }
.summary-plot rect.unknown { fill: rgb(var(--fg)) }
.summary-plot rect.aborted { fill: rgb(var(--bg)) }
.summary-plot rect.failure { fill: rgb(var(--failure)) }
.summary-plot rect.degrade { fill: rgb(var(--degrade)) }
.summary-plot rect.healthy { fill: rgb(var(--healthy)) }
@media screen and (max-width: 720px) {
    .overview ul {
        display: block;
    }
    .overview li, .overview .percent {
        display: inline;
    }
    .summary-plot {
        top: auto;
        bottom: 0;
    }
}

.status h1 {
    margin: .5rem 0;
}
.status h1 svg {
    display: none;
}

@media screen and (max-width: 640px) {
    .status h1 {
        margin: .2rem 0 .5rem;
    }
    .status h1 svg {
        display: inline;
        position: relative;
        margin: 0 .2rem 0 0;
        width: auto;
        height: 1em;
        top: 0.1em;
        fill: rgb(var(--fg));
    }
}

.status-bar {
    display: flex;
    position: relative;
    background-color: rgba(var(--fg), .2);
    margin: 0;
}
.status-bit {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: .2rem;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgb(var(--bg));
    margin: 0 -1px;
}
.status-bit.no-data { background-color: rgba(var(--bg), .2) }
.status-bit.unknown { background-color: rgba(var(--fg), .6) }
.status-bit.aborted { background-color: rgba(var(--bg), .8) }
.status-bit.failure { background-color: rgba(var(--failure), .75) }
.status-bit.degrade { background-color: rgba(var(--degrade), .75) }
.status-bit.healthy { background-color: rgba(var(--healthy), .8) }
.status-bit svg         { fill: rgba(var(--light), .8) }
.status-bit.no-data svg { fill: rgba(var(--fg), .3) }
.status-bit.unknown svg { fill: rgba(var(--bg), .8) }
.status-bit.aborted svg { fill: rgba(var(--fg), .4) }

@media screen and (max-width: 640px) {
    .status-bit {
        height: 2rem;
    }
    .status-bit svg {
        display: none;
    }
}

.latency-plot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.latency-plot path {
    fill: rgb(var(--fg));
}

@media (forced-colors: active) {
    .status-bit {
        background-color: rgb(var(--bg)) !important;
    }
    .status-bit svg {
        fill: rgb(var(--fg)) !important;
        display: initial !important;
    }
    .latency-plot {
        display: none;
    }
}

.updated {
    display: block;
    text-align: right;
}
{{ end }}{{/* </style> */}}

{{ define "body" }}
    <article class="overview" aria-label="overview">{{ with .ProbeHistory | calculate_summary }}
        <ul>{{ range .}}
            <li style="flex: 1 1 {{ .Percent }}%">
                {{ .Status | to_camel }}
                <span class="percent">{{ printf "%.0f%%" .Percent}}</span>
            </li>{{ end }}
        </ul>
        <svg class="summary-plot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 1" preserveAspectRatio="none" aria-hidden="true">{{ range . }}
            <rect x="{{ .Cumulative }}" width="{{ .Percent }}" height="1" class="{{ .Status | to_lower }}" />{{ end }}
        </svg>
    {{ end }}</article>

    <article class="status" aria-label="Current status">{{ range .ProbeHistory | sort_history }}
        <section class="status {{ .Status | to_lower }}">
            <h1 aria-label="'{{ .Target }}' is currently {{ .Status | to_lower }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><use xlink:href="#{{ .Status | to_lower }}-icon" /></svg>
                {{- .Target }}
            </h1>
            <span>{{ with .Records | target_summary }}{{ range . -}}
                {{ .Status | to_camel }}{{ printf ": %.0f%%" .Percent }}{{ if not .IsLast }}, {{ end }}
            {{- end }}{{ else }}no record yet{{ end }}</span>
            <figure class="status-bar">{{ range .Records | pad_records 20 }}
                <span class="status-bit no-data" title="no data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><use xlink:href="#no-data-icon" /></svg>
                </span>{{ end }}{{ range .Records }}
                <span class="status-bit {{ .Status | to_lower }}" title="{{ printf "%s\n%s in %s\n\n%s" (.Time | time2str) (.Status | to_lower) .Latency .ReadableMessage }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><use xlink:href="#{{ .Status | to_lower }}-icon" /></svg>
                </span>{{ end }}

                <svg class="latency-plot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 1" preserveAspectRatio="none" aria-hidden="true">
                    <path d="{{ .Records | latency_graph }}" />
                </svg>
            </figure>
            <span class="updated">updated: <time>{{ if .Updated.IsZero }}(not yet){{ else }}{{ .Updated | time2str }}{{ end }}</time></span>
        </section>{{ end }}
    </article>

    <article aria-label="Current incidents">{{ range .CurrentIncidents | invert_incidents }}
        {{ template "incident" . }}{{ end }}
    </article>
{{ end }}
