[submodule "ayd"]
	path = ayd
	url = https://github.com/macrat/ayd
[submodule "ayd-mail-alert"]
	path = ayd-mail-alert
	url = https://github.com/macrat/ayd-mail-alert
[submodule "ayd-slack-alert"]
	path = ayd-slack-alert
	url = https://github.com/macrat/ayd-slack-alert
