name: PR Test

on:
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test.yaml
    secrets: inherit

  analyze:
    name: CodeQL
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: github/codeql-action/init@v4
        with:
          languages: go
      - uses: github/codeql-action/analyze@v4
